[build-system]
requires = ["setuptools>=77.0", "wheel", "setuptools_scm"]
build-backend = "setuptools.build_meta"

[project]
name = "aurel"
dynamic = ["version"]
description = "A Python package for general relativity calculations."
readme = "README.md"
license = "GPL-3.0-or-later"
license-files = ["LICENSE"]

authors = [
    { name = "Robyn L Munoz", email = "r.l.munoz@sussex.ac.uk" }
]

keywords = [
    "numerical relativity", 
    "general relativity", 
    "simulation",
    "Python", 
    "tensor"
]

classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent"
]
requires-python = ">=3.8"

dependencies = [
    "numpy",
    "matplotlib",
    "sympy",
    "h5py",
    "glob2",
    "scipy",
    "ipython"
]

[project.urls]
Source = "https://github.com/robynlm/aurel"
Documentation = "https://robynlm.github.io/aurel/"

[tool.setuptools_scm]
version_scheme = "post-release"
local_scheme = "no-local-version"
write_to = "src/aurel/_version.py"