# requirements need to be here AND in pyproject.toml
numpy          # for numerical computing
scipy          # for scientific computing
sympy          # for analytical calculations and checks
matplotlib     # for plotting
h5py           # for reading/writing hdf5 files
ipython        # for interactive use
jupyter        # for notebooks
ipykernel      # for notebooks
tqdm           # for progress bars