# requirements need to be here AND in pyproject.toml
numpy          # for numerical computing
scipy          # for scientific computing
sympy          # for analytical calculations and checks
s2fft[all]     # for fast spherical harmonic transforms
matplotlib     # for plotting
h5py           # for reading/writing hdf5 files
glob2          # for recursive file searching
ipython        # for interactive use
jupyter        # for notebooks
ipykernel      # for notebooks
tqdm           # for progress bars
jax            # for vectorized numerical computing
jaxlib         # for vectorized numerical computing
dask[complete] # for parallel computing