sphinx              # for building docs
sphinx-rtd-theme    # theme for sphinx
sphinx-math-dollar  # for math in docs
myst_nb             # for jupyter notebooks in docs
myst_parser         # for markdown
sphinx-design       # for dropdown elements in docs